{
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "trailingComma": "none",
    "tabWidth": 2,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}