@import "tailwindcss";

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}

@theme {
  --font-sans: "OpenSans", sans-serif;
  --font-mono: "SpaceMono", monospace;
  --color-background: #111110;
  --color-foreground: #ffffff;
  --color-lime-bright: #bcf800;
  --color-lime-pale: #bdee63;
  --color-gray: #393835;
  --color-muted: #262626;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}


::selection {
  background-color: var(--color-lime-bright);
  color: var(--color-background);
}

@layer utilities {
  @keyframes bar-bounce-inner {
    0% {
      transform: scaleY(0.7);
      transform-origin: center;
    }

    50% {
      transform: scaleY(1.2);
      transform-origin: center;
    }

    100% {
      transform: scaleY(0.7);
      transform-origin: center;
    }
  }

  @keyframes bar-bounce-outter {
    0% {
      transform: scaleY(0.8);
      transform-origin: center;
    }

    50% {
      transform: scaleY(1.4);
      transform-origin: center;
    }

    100% {
      transform: scaleY(0.8);
      transform-origin: center;
    }
  }

  .animate-bar-inner {
    animation: bar-bounce-inner 1.1s infinite alternate ease-in-out;
  }

  .animate-bar-outter {
    animation: bar-bounce-outter 0.9s infinite alternate ease-in-out;
  }
}
