---
import AboutMe from "../../components/content/AboutMe.astro";
import Contact from "../../components/content/Contact.astro";
import Landing from "../../components/content/Landing.astro";
import Projects from "../../components/content/Projects.astro";
import Skills from "../../components/content/Skills.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="space-y-32 px-6">
    <Landing />
    <AboutMe />
    <Skills />
    <Projects />
    <Contact />
  </div>
</Layout>
