---
import AboutMe from "../../components/content/AboutMe.astro";
import Contact from "../../components/content/Contact.astro";
import Landing from "../../components/content/Landing.astro";
import Projects from "../../components/content/Projects.astro";
import Skills from "../../components/content/Skills.astro";
import Main from "../../layouts/Main.astro";
---

<Main>
  <Landing />
  <AboutMe />
  <Skills />
  <Projects />
  <Contact />
</Main>
