---
import Title from "../../components/ui/Title.astro";
---

<div class="space-y-8">
  <Title id="about-me" text="About Me" />
  <p class="flex flex-wrap gap-1.5 font-sans text-xl">
    <span>Hi I'm</span>
    <span
      class="bg-lime-bright text-gray h-fit w-fit -skew-x-8 transform px-1 font-mono font-bold"
    >
      Eden
    </span>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet
    cursus turpis non rutrum. Morbi magna lacus, elementum et quam ac, ultrices
    interdum urna. Nunc lacinia risus vitae bibendum iaculis. Maecenas massa
    nibh, convallis quis ultrices nec, pharetra eget sem. In lectus urna, mollis
    at auctor ac, pretium id felis. Aenean vehicula sit amet neque ac venenatis.
    Vestibulum suscipit laoreet mauris a mattis. Proin et augue neque. Proin
    scelerisque mauris lacus, eget tempus velit laoreet vel. Nam pellentesque
    dui vel metus commodo, vitae sodales magna elementum. Aenean id malesuada
    lectus. Nunc a justo scelerisque, iaculis est sed, aliquam tortor. Sed
    pellentesque egestas dui, in ullamcorper dui. Nulla fringilla, arcu sed
    mollis bibendum, orci urna fermentum orci, vel viverra enim dui ut lacus.
  </p>
</div>
