---
import ChevronDown from "../../icons/chevron-down.svg";
---

<div class="flex min-h-[calc(100vh-4rem)] flex-col">
  <div class="my-auto space-y-2">
    <h1 class="text-4xl font-bold xs:text-5xl md:text-6xl lg:text-7xl">
      Eden Douru
    </h1>
    <p class="text-md md:text-lg">Computer Science Student</p>
  </div>
  <a
    href="#about-me"
    class="mx-auto mb-20 transition duration-300 hover:-translate-y-1.5"
  >
    <ChevronDown width={40} height={40} />
  </a>
</div>
