---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, translate } from "../i18n/utils";
import Default from "../layouts/Default.astro";

const lang = getLangFromUrl(Astro.url);
const { notfound: t } = translate(lang);
---

<Default>
  <div class="flex min-h-[calc(100vh-8rem)] items-center justify-center">
    <div
      class="text-foreground border-gray w-full space-y-4 border-y border-dashed p-10 text-center"
    >
      <h1 class="font-mono text-4xl">404 - {t.statusName}</h1>
      <a
        href={getRelativeLocaleUrl(lang, "/")}
        class="text-md underline hover:text-gray-400"
      >
        {t.home}</a
      >
    </div>
  </div>
</Default>
