---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex min-h-[calc(100vh-5rem)] items-center justify-center sm:min-h-[calc(100vh-4rem)]"
  >
    <div
      class="text-foreground border-gray w-full space-y-4 border-y border-dashed p-10 text-center"
    >
      <h1 class="font-mono text-4xl">404 - Not Found</h1>
      <a href="/" class="text-md font-sans underline hover:text-gray-400"
        >Home</a
      >
    </div>
  </div>
</Layout>
