---
import Layout from "../layouts/Layout.astro";
import ChevronDown from "../icons/chevron-down.svg";
import Title from "../components/ui/Title.astro";
// import Card from "../components/ui/Card.astro";
---

<Layout>
  <!-- Landing View Main Title -->
  <div class="flex min-h-[calc(100vh-4rem)] flex-col">
    <div class="my-auto space-y-2">
      <h1 class="font-mono text-6xl font-bold md:text-7xl">Eden Douru</h1>
      <p class="text-md md:text-lg">Computer Science Student</p>
    </div>
    <a
      id="scroll-chevron"
      href="#about-me"
      class="mx-auto mb-20 transition duration-300 hover:-translate-y-1.5"
    >
      <ChevronDown width={40} height={40} />
    </a>
  </div>
  <!-- About Me Section -->
  <div class="space-y-8">
    <Title id="about-me" text="About Me" />
    <h2 class="flex gap-1.5 text-xl">
      <span>Hi I'm</span>
      <span
        class="bg-lime-bright text-gray -skew-x-8 transform px-1 font-mono font-bold"
      >
        Eden
      </span>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet
      cursus turpis non rutrum. Morbi magna lacus, elementum et quam ac,
      ultrices interdum urna. Nunc lacinia risus vitae bibendum iaculis.
      Maecenas massa nibh, convallis quis ultrices nec, pharetra eget sem. In
      lectus urna, mollis at auctor ac, pretium id felis. Aenean vehicula sit
      amet neque ac venenatis. Vestibulum suscipit laoreet mauris a mattis.
      Proin et augue neque. Proin scelerisque mauris lacus, eget tempus velit
      laoreet vel. Nam pellentesque dui vel metus commodo, vitae sodales magna
      elementum. Aenean id malesuada lectus. Nunc a justo scelerisque, iaculis
      est sed, aliquam tortor. Sed pellentesque egestas dui, in ullamcorper dui.
      Nulla fringilla, arcu sed mollis bibendum, orci urna fermentum orci, vel
      viverra enim dui ut lacus.
    </p>
  </div>
  <!-- Skills Section -->
  <div>
    <Title id="skills" text="What i like to use" />
  </div>
  <br />
  <br />
  <br />
</Layout>
