---
import UnderConstruction from "../../components/UnderConstruction.astro";
import Main from "../../layouts/Main.astro";
---

<Main>
  <div class="mt-12">
    <UnderConstruction />
  </div>
</Main>
