---
import Listener from "./Listener";
import { getLangFromUrl, translate } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = translate(lang);
---

<footer class="border-gray flex border-t border-dashed px-6 py-4">
  <div
    class="flex flex-1 flex-col items-center justify-center gap-1 text-center sm:flex-row sm:justify-between sm:gap-0"
  >
    <p class="text-md font-mono">&copy {new Date().getFullYear()}</p>
    <Listener
      locale={lang}
      tListener={t["listener"]}
      tMusicLibrary={t["musicLibrary"]}
      client:only="react"
    />
  </div>
</footer>
