---
import GithubIcon from "../icons/github-logo.svg";
import LinkedInIcon from "../icons/linkedin-logo.svg";
import DiscordIcon from "../icons/discord-logo.svg";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<header
  class="bg-background border-gray sticky top-0 z-10 w-full overflow-x-hidden border-b border-dashed px-6 py-4"
>
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-medium">{lang.toUpperCase()}</h1>
    <nav class="flex items-center gap-4">
      <a
        href="https://discordapp.com/users/384053588042711040"
        target="_blank"
        aria-label="Discord"
        class="transition-opacity duration-200 hover:opacity-70"
      >
        <DiscordIcon width={25} height={25} />
      </a>
      <a
        href="https://github.com/Zigl3ur"
        target="_blank"
        aria-label="GitHub"
        class="transition-opacity duration-200 hover:opacity-70"
      >
        <GithubIcon width={25} height={25} />
      </a>
      <a
        href="https://www.linkedin.com/in/eden-douru/"
        target="_blank"
        aria-label="LinkedIn"
        class="transition-opacity duration-200 hover:opacity-70"
      >
        <LinkedInIcon width={25} height={25} />
      </a>
    </nav>
  </div>
</header>
