---
import { getLangFromUrl, getLocalesUrl } from "../i18n/utils";
import LangSwitcher from "./LangSwitcher";
import SocialsPopover from "./SocialsPopover";

const lang = getLangFromUrl(Astro.url);
const langListUrl = getLocalesUrl();
---

<header
  class="bg-background border-gray sticky top-0 z-10 flex h-16 w-full items-center justify-between border-b border-dashed px-6 py-4"
>
  <LangSwitcher client:load actual={lang} localesUrls={langListUrl} />
  <nav class="xs:inline-flex hidden items-center gap-4">
    <a
      href="https://discordapp.com/users/384053588042711040"
      target="_blank"
      class="font-mono transition-opacity duration-200 hover:opacity-70"
      >Discord</a
    >
    <a
      href="https://github.com/Zigl3ur"
      target="_blank"
      class="font-mono transition-opacity duration-200 hover:opacity-70"
      >GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/eden-douru/"
      target="_blank"
      class="font-mono transition-opacity duration-200 hover:opacity-70"
      >LinkedIn</a
    >
  </nav>
  <div class="xs:hidden inline">
    <SocialsPopover client:load />
  </div>
</header>
