---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    {
      import.meta.env.DEV && (
        <script
          is:inline
          src="https://unpkg.com/react-scan/dist/auto.global.js"
        />
      )
    }
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Eden Douru</title>
  </head>
  <body
    class="bg-background border-gray text-foreground mx-auto min-h-screen max-w-4xl border-x border-dashed font-sans wrap-break-word"
  >
    <Header />
    <div class="space-y-32 px-6">
      <slot />
    </div>
    <Footer />
  </body>
</html>
